[submodule "Arduino_GFX"]
	path = Arduino_GFX
	url = git@github.com:monte-monte/Arduino_GFX.git
[submodule "lib/Arduino_GFX"]
	path = lib/Arduino_GFX
	url = git@github.com:monte-monte/Arduino_GFX.git
[submodule "lib/common_lib_wifi_debugger"]
	path = lib/common_lib_wifi_debugger
	url = git@github.com:Cameloah/common_lib_wifi_debugger.git
